
<div class="container">
  <h1 class="regis-title">REGISTRATION</h1>
  <hr class="styled-hr">
  <form #login="ngForm" (ngSubmit)="submit(login)"> 
    <div class="form-row">
      <div class="form-group">
        <label class="label-email" for="email">Email</label><br>
        <input type="email" name="email" class="form-control" ngModel>
      </div>
    </div>

    <pre></pre>
    
    <div class="form-row">
      <div class="form-group">
        <label class="label-name" for="myname">Full Name</label><br>
        <input placeholder="e.g. Muhammad Ali bin Ahmad" minlength="2" maxlength="7" type="text" name="myname" class="form-control" #name ="ngModel" ngModel>
        <div *ngIf = "name.touched && name.invalid" class="alert alert-danger" >
        </div>
      </div>

      <pre></pre>

      <div class="form-group">
        <label class="label-mobile" for="mobilenum">Mobile Number</label><br>
        <input placeholder="e.g. +60123456" type="tel" name="mobilenum" class="form-control" ngModel>
      </div>
    </div>

    <pre></pre>

    <div class="form-row">
      <div class="form-group">
        <label class="label-pswd" for="pswd">Password</label><br>
        <input type="password" name="pswd" class="form-control" ngModel>
      </div>

      <pre></pre>

      <div class="form-group">
        <label class="labels" for="confirmpswd">Confirm Password</label><br>
        <input type="password" name="confirmpswd" class="form-control" ngModel>
      </div>
      <pre></pre>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Dropdown</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
          </div>
        </div>        
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p style="font-family: Arial, sans-serif; font-size: larger; font-weight: bold;">Terms and Conditions</p>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="tnc-container">
          <input type="checkbox">
          <label class="checkbox-label">
            <span>By ticking this box, I hereby acknowledge that I have read the Terms and Conditions, and have agreed to the Privacy Policy and PDPA Consent Clause / PDPA Consent Clause(SG) .</span>
          </label>
        </div>

        <div class="tnc-container">
          <input type="checkbox">
          <label class="checkbox-label">
            <span>I hereby agree to receive future communication & newsletter from EcoWorld.</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <button type="submit" class="btn btn-primary" [disabled]="login.invalid">REGISTER</button>
    </div>
    
  </form>
</div>